<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación</title>
</head>
<body>
    <h2>Inicio</h2>
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href={% url 'home'%}>Inicio</a></li>
                                 
            {% if request.user.is_authenticated %}
                <!-- <a class="navbar-brand" href={% url 'products'%}>Productos</a></li> -->
                <a class="navbar-brand" href="{% url 'products' %}">Productos</a>
                <a class="navbar-brand" href={% url 'agregar_avatar'%}>Avatar</a></li>
                <a class="navbar-brand" href={% url 'perfil'%}>Perfil</a></li>
                <a class="navbar-brand" href={% url 'editarperfil'%}>Editar Perfil</a></li>
                <a class="navbar-brand" href={% url 'exit'%}>Salir</a></li>
                <img src="{{user.avatar_set.last.imagen.url}}" width="30px" height="30px" alt="No fué posible cargar la imágen del avatar">               
                
            {% else %}
                <a class="navbar-brand" href={% url 'login'%}>Ingresar</a></li>
                <a class="navbar-brand" href={% url 'register'%}>Registrarse</a></li>
                
            {% endif %}
    </ul>

    {% block content %}{% endblock %}

</body>
</html>